.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #080857;

  --primary-color: #0232c2;
  --secondary-color: #0452ff;
  --inverted-primary-color: #0d9f0d;
  --inverted-secondary-color: #04ff04;
}
